.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1rem;
}

.group {
    display: flex;
    align-items: center;
}

.label {
    display: flex;
    align-items: baseline;
    font-weight: bold;
    margin-right: 1rem;
    margin-bottom: .5rem;
}

.field, .textarea {
    flex: 6;
    height: 40px;
    max-height: 40px;
    line-height: 40px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: var(--white);
    border: 1px solid var(--gray);
    box-shadow: none;
    box-sizing: border-box;
}

.form .button {
    margin-right: 1rem;
}

.field:hover {
    background-color: var(--light);
}
.field:focus {
    background-color: var(--white);
}

.textarea {
    min-height: 6rem;
}

input:required,select:required {border-right: 4px solid var(--dark)}
select.invalid {color: var(--dark); font-weight: bold; border: 2px solid var(--dark);}