/* Layout System */

.layout, .layout-app, .layout-wide {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100vw;
    max-width: 1140px;
    margin: 0 auto;
    padding: .25rem;
}

.layout-wide {
    max-width: 100vw;
    padding: 0;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-webkit-scrollbar */
.layout-app ::-webkit-scrollbar {
    display:none !important;
    width:0px;
}

.layout-content {
    flex-grow: 1;
    overflow: auto;
    min-height: 2rem;
    padding-bottom: 1em;
}

.layout-header, .layout-footer {
    z-index: 100;
}

.layout-app .layout-header, .layout-app .layout-footer {
    box-shadow: 0px -10px 20px #F2F2F2;
}

.layout-footer, .layout-header {
    flex-shrink: 0;
}
