/* Blockquote */

blockquote {
  border-left: 0.4em solid var(--gray);
  background-color: var(--white);
  margin-left: 0;
  margin-right: 0;
  padding: 1em 1.5em;
}

blockquote *:last-child {
  margin: 0;
}
