/* Media Queries */

/* mobile */
@media(max-width: 576px) {
    html {font-size: 14px;}
    .hero, .layout {display: block}
    .column {min-width: 276px;}
    .modal-content {
        min-width: 26rem;
        width: 100%; padding: .25em
    }
}