/* Modifiers */

.right {float: right !important}
.left {float: left !important}
.centered {margin: auto;text-align: center !important;align-items: center;justify-content: center;}
.inline {display: inline}
.block {display: block}
.bordered {border: 1px solid var(--border)}
.divider, hr {border-top: 1px solid var(--light);border-top: 1px solid var(--light)}
.wide {width: 100%; margin: inherit 0; max-width:none}
.full {height: 100%; width: 100%; margin:0; padding:0; max-height: none; max-width:none;}
.hero {padding: 8rem;}
.well {padding: 1rem;}
.content {padding: .5em 1em;}
.borderless {border: none}
.spaceless {padding: 0px; margin:0px;}
.clear {clear: both;}
.small {font-size: .75rem;}
.large {font-size: 1.2rem;}
.hidden {display: none;}
.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}
.title {text-transform: capitalize; font-weight:bold;margin:0;padding:0}
.subtitle {text-transform: uppercase; font-size:.6rem;margin:0;padding:0}
.indented {margin-left: 2em;}
.muted {color: var(--gray);}
.shadowed {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.rounded {border-radius: .25rem}
