/* Buttons */

.btn,
a.btn,
.btn[type="submit"],
.btn[type="reset"],
.btn[type="button"] {
    position: relative;
    overflow: hidden;
    zoom: 1;
    line-height: normal;
    margin: 0;
    white-space: nowrap;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;

    font-family: inherit;
    font-size: 1em;
    height: 40px;
    max-height: 40px;
    padding: .5em 1em;
    text-decoration: none;
    border: 1px solid #BABABA;
}

a.btn {
    color: var(--dark);
}

.btn.outline {
    background-color: transparent;
    border: 1px solid var(--border);
}


.btn.link {
    color: var(--dark);
    border-color: transparent;
    background-color: transparent;
    text-decoration: none;
    outline:0;
    cursor: pointer;
}

.btn.link:hover {
    background-image: none;
    text-decoration: underline;
}

a.btn:hover,
.btn:hover,
.btn[type="submit"]:hover,
.btn[type="reset"]:hover,
.btn[type="button"]:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

a.btn:active,
.btn:active,
.btn[type="submit"]:active,
.btn[type="reset"]:active,
.btn[type="button"]:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: var(--black);
    color: inherit;
}

a.btn:focus,
.btn:focus,
.btn[type="submit"]:focus,
.btn[type="reset"]:focus,
.btn[type="button"]:focus,
a.btn:visited {
    outline: 0;
    color: inherit;
}

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:active,
.btn.disabled:focus {
    border: 1px solid var(--light);
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}
