/* Tables */

.table {width: 100%;border-spacing: 0;}

/* bordered */
.table.bordered {border: 1px solid var(--light);}
.table.bordered tbody td:not(:last-child),
.table.bordered thead th:not(:last-child) {
    border-right: 1px solid var(--light)
}

/* striped */
.table.striped tbody tr:nth-child(odd) {background-color: var(--light)}

.table.condensed th,
.table.condensed td {padding:0;}

.table td, .table th {
    border-spacing: 0;
    text-align: left;
    border: 1px solid var(--light);
    border-width: 0 0 1px;
    padding: .5rem .75rem;
    vertical-align: top;
}
