/* Grayscale.css v:0.8.5 | MIT LICENSE | https://github.com/n2geoff/grayscale */

:root {
    --white: #FAFAFA;
    --light: #EBEBEB;
    --gray: #BABABA;
    --dark: #474747;
    --black: #1A1A1A;
}

/* CSS Reset */

html {
    box-sizing: border-box;
    font-family: georgia, serif;
    font-size: 16px;
    line-height: 1.4em;
    color: var(--dark);
    -webkit-font-smoothing: antialiased;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html,body {height:100%;}
body, html, span, div {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol, ul {
    list-style: none;
}

img,
embed,
iframe,
object,
audio,
video {
    height: auto;
    max-width: 100%;
    border: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
