/* Blockquote */

.blockquote, .quote {
  border-left: 0.4em solid var(--lighter);
  background-color: var(--lightest);
  margin-left: 0;
  margin-right: 0;
  padding: 1em 1.5em;
}

.blockquote *:last-child, .quote *:last-child {
  margin: 0;
}
