/* Buttons */

.button,
a.button,
.button[type="submit"],
.button[type="reset"],
.button[type="button"] {
    position: relative;
    overflow: hidden;
    zoom: 1;
    line-height: normal;
    margin: 0;
    white-space: nowrap;
    vertical-align: top;
    text-align: center;
    cursor: pointer;
    user-select: none;
    box-sizing: border-box;

    font-family: inherit;
    font-size: 1em;
    padding: .5em 1em;
    background-color: var(--lightest);
    text-decoration: none;
    border: 1px solid var(--light);
}

.button.is-link {
    color: var(--black);
    border-color: transparent;
    background-color: transparent;
    text-decoration: none;
}

.button.is-link:hover {
    background-image: none;
    text-decoration: none;
}

.button:hover,
.button[type="submit"]:hover,
.button[type="reset"]:hover,
.button[type="button"]:hover {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0,0,0, 0.05)), to(rgba(0,0,0, 0.10)));
    background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
}

.button:active,
.button[type="submit"]:active,
.button[type="reset"]:active,
.button[type="button"]:active {
    box-shadow: 0 0 0 1px rgba(0,0,0, 0.15) inset, 0 0 6px rgba(0,0,0, 0.20) inset;
    border-color: #000;
}

.button:focus,
.button[type="submit"]:focus,
.button[type="reset"]:focus,
.button[type="button"]:focus {
    outline: 0;
}

.is-disabled,
.is-disabled:hover,
.is-disabled:active,
.is-disabled:focus {
    border: 1px solid var(--light);
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    filter: alpha(opacity=40);
    opacity: 0.40;
    cursor: not-allowed;
    box-shadow: none;
}

a.button, a.button:active, a.button:visited {
    display: inline-block;
    color: inherit;
}
