/* Card Component */

.card {
    flex-direction: column;
    overflow: hidden;
    flex: 0 1 calc(50% - 0.5em);
    margin-bottom: 1em;
}

.card-header {
    font-weight: bold;
    margin: 0;
    padding: .5em;
}

.card-content {
    padding: 1em .5em;
    min-height: 100px;
}

.card-footer {
    display: flex;
    align-items: stretch;
    border-top: 1px solid #dbdbdb;
    flex: 1;
}

.card-footer .card-footer-item {
    display: flex;
    flex: 1 0 0;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 1em;
}

.card.is-shadowed {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
