/* Code */

code, .code {
    display:  inline;
    font-size: 1em;
    line-height: 1.3em;
    vertical-align: bottom;
    word-wrap: break-word;
    font-family: monospace;
    font-weight: normal;
    padding: 0.2em .2em;
    border: 1px solid var(--light);
    background-color: var(--lightest);
    white-space: pre-wrap; }

pre {
    padding: .8em;
    overflow: auto}
