.form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 1em;
}

.group {
    display: flex;
    align-items: center;
}

.label {
    display: flex;
    align-items: baseline;
    font-weight: bold;
    margin-right: 1em;
    margin-bottom: .5em;
}

.field, .textarea {
    flex: 6;
    height: 40px;
    max-height: 40px;
    line-height: 40px;
    margin-bottom: 1em;
    margin-right: 1em;
    padding-left: .5em;
    padding-right: .5em;
    background-color: var(--white);
    border: 1px solid var(--gray);
    box-shadow: none;
    box-sizing: border-box;
}

.form .button {
    margin-right: 1em;
}

.field:hover {
    background-color: var(--light);
}
.field:focus {
    background-color: var(--white);
}

.textarea {
    min-height: 6em;
}