/* Forms */

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
    height: 36px;
    width: 100%;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: var(--lightest);
    border: 1px solid var(--lighter);
    box-shadow: none;
    box-sizing: border-box;
}

input[type="email"],
input[type="date"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea {
    appearance: none;
}

textarea {
    min-height: 65px;
    padding-top: 6px;
    padding-bottom: 6px;
}

input[type="email"]:hover,
input[type="date"]:hover,
input[type="number"]:hover,
input[type="search"]:hover,
input[type="text"]:hover,
input[type="tel"]:hover,
input[type="url"]:hover,
input[type="password"]:hover,
textarea:hover,
select:hover {
  border: 1px solid var(--light);
  outline: 0;
}

input[type="email"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
    border: 1px solid var(--dark);
    background-color: var(--white);
    outline: 0;
}

label,
legend {
    display: block;
    padding: 0.5em 0;
    font-weight: 600;
}

fieldset {
    margin: .5em;
    padding: 0;
    border-width: 0;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
}
