/* Forms */

.field, .textarea {
    font-size: 1em;
    height: 36px;
    width: 100%;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: var(--lightest);
    border: 1px solid var(--lighter);
    box-shadow: none;
    box-sizing: border-box;
}

.textarea {
    min-height: 6em;
    padding-top: 6px;
    padding-bottom: 6px;
}

.field[type="checkbox"],
.field[type="radio"] {
    position: relative;
    bottom: -3px;
    height: 16px;
    width: 16px;
}

.field:hover, .textarea:hover {
  border: 1px solid var(--light);
  outline: 0;
}

.field:focus, .textarea:focus {
    border: 1px solid var(--dark);
    background-color: var(--white);
    outline: 0;
}

.field-group, .group {
    display: flex;
    justify-content: space-around;
}

.stack {
    display: flex;
    flex-direction: column;
}

.addon {
    display: flex;
    justify-content: flex-start;
    padding: 0 1em;
    line-height: 2em;
    vertical-align: middle;
}

.label,
.legend {
    display: block;
    padding: 0.5em 0;
    font-weight: 600;
}

.fieldset {
    margin: .5em;
    padding: 0;
    border-width: 0;
}
