/* Layout Container */

.layout {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    height: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: .25rem;
}

.content {
    padding: .5em 1em;
}

/* Flex-Based Grid Solution */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.expand {
    flex: 1 1 auto;
}

.column, .column-100,.column-20,.column-25,.column-33,.column-50,.column-67 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex:1;
}

.column-20 {flex-basis: 20%}
.column-25 {flex-basis:25%}
.column-33 {flex-basis: 33.33%}
.column-50 {flex-basis: 50%}
.column-67 {flex-basis: 67.67%}
.column-100 {flex-basis: 100%}

/* mobile */
@media(max-width: 576px) {
    html {font-size: 14px;}
    .hero, .card, .layout {display: block}
    .column {min-width: 276px;}
    .modal-content {
        min-width: 26rem;
        width: 100%; padding: .25em
    }
}
