/* Layout Container */
.layout {
  width: 90%;
  max-width: 1140px;
  margin: 0 auto;
  overflow: hidden;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  background-color: #FAFAFA;
}

/* Row Style */
.row{width:100%;clear:both;min-height:38px;vertical-align:middle;display:block;}

/* Common Column Style */
.column-100,.column-20,.column-25,.column-33,.column-50,.column-67
{float:left;display:inline;box-sizing:border-box;*margin-left:-0.04em;}

/* Column Size(%) */
.column-20 {width: 20%}
.column-25 {width:25%}
.column-33 {width: 33.33%}
.column-50 {width: 50%}
.column-67 {width: 67.67%}
.column-100 {width: 100%}

/* Utility */
.right {float:right}
.left {float:left}
.center {margin:auto}
.inline {display:inline}
.block {display:block}
.wall {padding: 0 .5em 0 .5em}
.clear{ clear:both;}
