.menu {
    margin-right: 0;
    padding: 1em inherit;
    clear: right;
}

.menu-title,
.menu .menu-item {
    display: block;
    float:left;
    text-align: top;
    padding: 1em;
}

.menu-title {
    font-weight: bold;
    font-size: 1.5em;
    line-height: 0;
}
