/* Navigation */

ul.navbar {
    display: flex;
    flex-direction: row;
    margin:0;
    padding:0;
}

li.nav {
    display:flex;
    flex-direction: row;
    text-align: center;
    padding: .3em .5em;
    align-items: bottom;
}

li.nav a {
    text-decoration: none;
}
