/* Tables */

table {
    width: 100%;
    border-spacing: 0;
}

thead tr th {
    border-bottom: 2px solid var(--light);
}

th,
td {
    padding: 12px 15px;
    text-align: left;
    border-bottom: 1px solid var(--light);
}

tr th:first-child,
tr td:first-child {
    padding-left: .5em;
}

table.striped tbody tr:nth-child(odd) {
    background-color: var(--lighter);
}

table.condensed th, table.condensed td {
    padding: 4px 5px;
}

table.bordered td {
    border: 1px solid var(--lighter);
}

table.bordered th {
    border: 1px solid var(--lighter);
    border-bottom: 2px solid var(--lighter);
}
