/* Tables */

.table {
    width: 100%;
    border-spacing: 0;
}

.table thead tr th {
    border-bottom: 2px solid var(--light);
}

.table th,
.table td {
    padding: .5em 0;
    text-align: left;
    border-bottom: 1px solid var(--light);
}

.table tr th:first-child,
.table tr td:first-child {
    padding-left: .5em;
}

.table.is-striped tbody tr:nth-child(odd) {
    background-color: var(--lighter);
}

.table.is-condensed th, table.is-condensed td {
    padding: 0;
}

.table.is-bordered td {
    border: 1px solid var(--lighter);
}

.table.is-bordered th {
    border: 1px solid var(--lighter);
    border-bottom: 2px solid var(--lighter);
}
