/* Utilities */
.right {float:right}
.left {float:left}
.center {margin:auto}
.inline {display:inline}
.block {display:block}
.border {border: 1px solid var(--lighter)}
.well {padding: .9em}
.wall {padding: 0 .5em 0 .5em}
.wide {width: 100%}
.tall {height:100%}
.fit {height: 100%; width: 100%}
.clear{ clear:both;}
.no-border: {border:none}

/* Colors */
.white {background-color: var(--white); color: var(--black)}
.lightest {background-color: var(--lightest); color: var(--darkest)}
.lighter {background-color: var(--lighter); color: var(--darkest)}
.light {background-color: var(--light); color: var(--darkest)}
.gray {background-color: var(--gray); color: var(--lightest)}
.dark {background-color: var(--dark); color: var(--lightest)}
.darker {background-color: var(--darker); color: var(--lightest)}
.darkest {background-color: var(--darkest); color: var(--lightest)}
.black {background-color: var(--black); color: var(--white)}
