/* Utilities */

.is-right {float: right}
.is-left {float: left}
.is-centered {margin: auto}
.is-inline {display: inline}
.is-block {display: block}
.is-bordered {border: 1px solid var(--lighter)}
.is-well {padding: 1em}
.is-wall {padding: 0 .5em 0 .5em}
.is-wide {width: 100%; margin: inherit 0;}
.is-tall {height:100%; margin: 0 inherit;}
.is-fit {height: 100%; width: 100%; margin:0;}
.is-borderless {border: none}
.is-clear {clear: both;}
.is-small {font-size: .8em;}
.is-hidden {display: none;}
.is-uppercase {text-transform: uppercase;}
.is-lowercase {text-transform: lowercase;}
.is-title {text-transform: capitalize;}
.is-indented {margin-left: 1em;}
.is-weak {font-size: .7em; color: var(--gray);}

/* Colors */

.is-primary {background-color: var(--primary); color: var(--lightest);}
.is-secondary {background-color: var(--secondary); color: var(--lightest);}
.is-accent {background-color: var(--accent); color: var(--darkest);}
.is-dangerous {background-color: var(--danger); color: var(--lightest);}
.is-safe {background-color: var(--safe); color: var(--darkest);}
.is-warning {background-color: var(--warning); color: var(--darkest);}

.is-white {background-color: var(--white); color: var(--darkest);}
.is-lightest {background-color: var(--lightest); color: var(--darkest);}
.is-lighter {background-color: var(--lighter); color: var(--darkest);}
.is-light {background-color: var(--light); color: var(--darkest);}
.is-gray {background-color: var(--gray); color: var(--black);}
.is-dark {background-color: var(--dark); color: var(--lightest);}
.is-darker {background-color: var(--darker); color: var(--lightest);}
.is-darkest {background-color: var(--darkest); color: var(--lightest);}
.is-black {background-color: var(--black); color: var(--lightest);}
